*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 10px;
}
body {
  background: linear-gradient(rgba(6, 39, 67, 0.6), rgba(6, 39, 67, 0.5)), url('../img/12.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.menu {
  font-size: 1.1em;
  width: 100%;
  height: auto;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  position: fixed;
  z-index: 5;
  margin-bottom: 30px;
  display: block;
}
.link {
  display: block;
  padding: 15px;
  font-size: 1.5em;
  cursor: pointer;
  color: #b8b8b8;
}
.link:hover {
  color: #e75737;
}
.container {
  padding: 2em;
}
.main {
  margin-top: 15%;
}
.section {
  background-color: rgba(17, 58, 93, 0.95);
  margin-bottom: 50px;
  height: auto;
  width: 100%;
  font-size: 2.5em;
  color: #b8b8b8;
}
.about-me {
  font-size: 1em;
  margin-top: 60px;
  color: #b8b8b8;
}
img {
  height: 250px;
  border-radius: 100%;
  padding: 1px;
  background-color: #e75737;
}
.logo {
  background-color: #fff;
  padding: 0;
  height: 60px;
  opacity: 0.9;
  border-radius: 0;
}
i {
  font-size: 3em;
}
.tech {
  margin: 35px;
}
::placeholder {
  font-size: 18px;
}
input {
  height: 40px;
}
figure {
  background: linear-gradient(rgba(6, 39, 67, 0.6), rgba(6, 39, 67, 0.5)), url('../img/12.jpg');
  width: 300px;
  height: 300px;
  background-color: #e75737;
  color: #b8b8b8;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
figure h2 {
  transition: 0.2s;
  transform: translateY(20px);
}
figure p {
  transition: 0.2s;
  transform: translateY(-20px);
  opacity: 0;
  visibility: hidden;
}
figure:before {
  content: '';
  position: absolute;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  border-top: solid 2px;
  border-bottom: solid 2px;
  transition: 0.2s;
  transform: scaleX(0);
}
figure:after {
  content: '';
  position: absolute;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  border-left: solid 2px;
  border-right: solid 2px;
  transition: 0.2s;
  transform: scaleY(0);
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
figure:hover:before,
figure:hover:after {
  transform: scale(1);
}
figure:hover h2,
figure:hover p {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
